<app-header></app-header>

<div fxLayout="row">
  
  <div fxFlex="20">
    <app-side-navigation>
      <ul>
        <li>
          <a [routerLink]="['details', 1]">item 1</a>
        </li>
        <li>
            <a [routerLink]="['details', 2]">item 2</a>
        </li>
        <li>
            <a [routerLink]="['details', 3]">item 3</a>
        </li>
      </ul>
    </app-side-navigation>
  </div>
  
  <div fxFlex="80">
    <router-outlet></router-outlet>
  </div>

</div>

<app-footer></app-footer>