<app-header></app-header>
<div fxLayout="column" >
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33">
            <button (click)="doLogin()">Login</button>
        </div>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33">    
            <button (click)="doLogout()">Logout</button>
        </div>
    </div>
    
    
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33">
            <a routerLink="/overview">overview</a>
        </div>
    </div>
    
    <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex="33">
            <a routerLink="/overview/details">overview/details</a>
        </div>
    </div>
</div>
<app-footer></app-footer>

