/* You can add global styles to this file, and also import other style files */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

button {
    width: 100%;
}