<div fxLayout="row" fxLayoutAlign="space-between">
    <div>Some TM Stuff</div>
    <div fxFlex="20" fxLayout="row" fxLayoutAlign="space-between">
      <span>Beta</span>
      <span>Beta</span>
      <span>Beta</span>
    </div>
</div>